<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Jonah Codes</title>
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>
  <body>

    <!-- NAVBAR + WELCOME TEXT -->
    <section class="hero has-background-blueDark is-medium">
      <div class="hero-head has-background-bluePrimary">
        <header class="navbar is-transparent has-background-bluePrimary">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <h1 class="title is-4 has-text-weight-bold has-text-white">JONAH CODES</h1>
              </a>
              <span class="navbar-burger has-text-white" id="burger">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="nav-links" class="navbar-menu has-background-bluePrimary">
              <div class="navbar-end">
                <a class="navbar-item has-text-weight-bold has-text-white">Home</a>
                <a id="aboutMeButton" href="#aboutMe" class="navbar-item has-text-weight-bold has-text-white">About Me</a>
                <a id="projectsButton" href="#projects" class="navbar-item has-text-weight-bold has-text-white">Projects</a>
                <span class="navbar-item">
                  <a href="https://github.com/ImJonahCodes" class="button has-background-blueMedium has-text-white no-border">
                    <span class="icon">
                      <i class="fa-brands fa-github-alt"></i>
                    </span>
                    <span class="has-text-weight-bold">GITHUB</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>
    
      <!-- HERO CONTENT -->
      <div class="hero-body has-text-centered">

        <div class="container has-text-centered">
          <p class="subtitle has-text-bluePrimary has-text-weight-medium">WELCOME TO THE SITE OF</p>
          <p class="title is-1 has-text-white has-text-weight-bold">JONAH CODES</p>
          <a class="button outlined" href="https://github.com/ImJonahCodes">
            <span class="icon">
              <i class="fa-brands fa-github-alt"></i>
            </span>
            <span class="has-text-weight-bold">MY GITHUB</span>
          </a>
        </div>
      </div>
    </section>

    <!-- ABOUT ME -->
    <section id="aboutMe" class="section has-background-blueDark">
      <div class="container has-background-blueMedium is-fluid">
        <div class="columns is-multiline is-centered">
          <div class="column has-text-centered is-full">
            <h1 class="title is-3 has-text-weight-bold has-text-bluePrimary text-shadow">ABOUT ME</h1>
          </div>
          <div class="column has-text-centered is-two-thirds">
            <!-- ABOUT ME TEXT -->
            <p class="has-text-white has-text-weight-medium" style="margin-bottom: 15px;">Hello! My name is Jonah. I am a 18 year old Full Stack Developer and Graphic Designer from Pennsylvania. I am experienced in HTML, CSS, JavaScript, PHP, NodeJS, Python, Swift and Objective-C. I like to code on my free time and create projects and do work for clients.</p> 
            <!-- SKILLS ICONS -->
            <div class="columns is-centered is-multiline">
              <!-- HTML -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <span class="icon icon-text-size has-text-bluePrimary">
                        <i class="fa-brands fa-html5"></i>
                      </span>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">HTML</h1>
                    </div>
                  </div>
                </div>
              </div>
              <!-- CSS -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <span class="icon icon-text-size has-text-bluePrimary">
                        <i class="fa-brands fa-css3-alt"></i>
                      </span>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">CSS</h1>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PHP -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <span class="icon icon-text-size has-text-bluePrimary">
                        <i class="fa-brands fa-php"></i>
                      </span>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">PHP</h1>
                    </div>
                  </div>
                </div>
              </div>
              <!-- NodeJS -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <span class="icon icon-text-size has-text-bluePrimary">
                        <i class="fa-brands fa-node"></i>
                      </span>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">NodeJS</h1>
                    </div>
                  </div>
                </div>
              </div>
              <!-- JS -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <span class="icon icon-text-size has-text-bluePrimary">
                        <i class="fa-brands fa-js"></i>
                      </span>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">JavaScript</h1>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Python -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <span class="icon icon-text-size has-text-bluePrimary">
                        <i class="fa-brands fa-python"></i>
                      </span>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">Python</h1>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Swift -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <span class="icon icon-text-size has-text-bluePrimary">
                        <i class="fa-brands fa-swift"></i>
                      </span>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">Swift</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PROJECTS -->
    <section id="projects" class="section has-background-blueDark">
      <div class="container has-background-blueMedium is-fluid">
        <div class="columns is-multiline is-centered">
          <div class="column has-text-centered is-full">
            <h1 class="title is-3 has-text-weight-bold has-text-bluePrimary text-shadow">MY PROJECTS</h1>
          </div>
          <div class="column has-text-centered is-two-thirds">
            <!-- ABOUT ME TEXT -->
            <p class="has-text-white has-text-weight-medium" style="margin-bottom: 15px;">PROJECTS I HAVE MADE OR APART OF</p> 
            <!-- SKILLS ICONS -->
            <div class="columns is-centered is-multiline">
              <!-- MY WEBSITE -->
              <div class="column is-one-quarter">
                <div class="box has-background-blueDark">
                  <div class="columns">
                    <div class="column is-full">
                      <a class="icon icon-text-size has-text-bluePrimary" href="https://github.com/ImJonahCodes/my-website">
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <h1 class="title is-6 has-text-weight-bold has-text-white">MY WEBSITE</h1>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- FOOTER -->
    <footer class="footer has-background-blueDark">
      <div class="content has-text-centered">
        <div class="content">
          <p class="has-text-white has-text-weight-semibold">
            Made With
            <span class="icon-text">
              <span class="icon has-text-danger">
                <i class="fa-solid fa-heart"></i>
              </span>
              <span>By <span class="has-text-bluePrimary">Jonah Codes</span></span>
            </span>
          </p>
        </div>
      </div>
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>